chapter_0_PytorchLightning/lightning_logs/*
chapter_0_PytorchLightning/models/*

chapter_1_mlflow/mlruns/*
chapter_1_mlflow/lightning_logs/*
chapter_1_mlflow/models/*

chapter_2_Hydra/outputs/*
chapter_2_Hydra/models/*

chapter_3_dvc/outputs/*
chapter_3_dvc/models/*

chapter_4_onnx/models/*

chapter_5_docker/models/*

working/*
!working/.gitkeep

subfiles/.ssh/*
subfiles/.kaggle/kaggle.json
subfiles/.ssh/env.json
subfiles/.ssh/id_rsa.GitHub_goya5858

*.zip
*/.DS_Store
.DS_Store

working/outputs/*