input/*
!input/.gitkeep
!input/models
input/models/*
!input/models/.gitkeep

week_0_PytorchLightning/lightning_logs/*
week_0_PytorchLightning/models/*

week_1_mlflow/mlruns/*
week_1_mlflow/lightning_logs/*
week_1_mlflow/models/*

week_2_Hydra/outputs/*
week_2_Hydra/models/*

week_3_dvc/outputs/*
week_3_dvc/models/*

working/*
!working/.gitkeep

DVC_test/*
!DVC_test/DVC_sample.sh

subfiles/.ssh/*
subfiles/.kaggle/kaggle.json
subfiles/.ssh/env.json
subfiles/.ssh/id_rsa.GitHub_goya5858

*.zip
*/.DS_Store
.DS_Store

MLOps-Basics-main/*

working/outputs/*
sample
