input/*
!input/.gitkeep
!input/models
input/models/*
!input/models/.gitkeep

working/*
!working/.gitkeep

DVC_test/*

subfiles/.ssh/*
subfiles/.kaggle/kaggle.json
subfiles/.ssh/env.json
subfiles/.ssh/id_rsa.GitHub_goya5858

*.zip
*/.DS_Store
.DS_Store

working/outputs/*
sample
